<!-- Main -->
<div class="flex justify-center h-screen">
  <!-- Left Menu -->
  <div class="w-1/5 pt-16 h-full hidden xl:flex flex-col fixed top-0 left-0">
    <ul class="p-4">
      <li>
        <a href="#" class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third">
          <%= image_tag 'pkj.jpg', alt: 'profile image', class: "w-10 h-10 rounded-full" %>
          <span>박 건 제</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third">
         <i class="bi bi-people-fill text-xl"></i>
          <span>Friends</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third">
        <i class="bi bi-flag-fill text-xl"></i>
          <span>Pages</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third">
        <i class="bi bi-calendar-event text-xl"></i>
          <span>Memories</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third">
        <i class="bi bi-people-fill text-xl"></i>
          <span>Groups</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg transition-all dark:text-dark-txt dark:hover:bg-dark-third">
          <span>
          <i class="bi bi-chevron-down"></i>
          </span>
          <span>See more</span>
        </a>
      </li>
      <li class="border-b border-gray-200 dark:border-dark-third mt-6"></li>
    </ul>
    <div class="flex justify-between items-center px-4 h-4 group">
      <span class="text-gray-500 text-lg dark:text-dark-txt">Your shortcuts</span>
      <span class="text-blue-500 cursor-pointer hover:bg-gray-200 dark:hover:bg-dark-third p-2 rounded-md hidden group-hover:inline-block">Edit</span>
    </div>
    <ul>

    </ul>
  </div>
  <!-- End Left Menu -->

  <!-- Main Contents -->
  <div class="w-full lg:w-2/3 xl:w-2/5 pt-32 lg:pt-16 px-2 bg-red-200">

  </div>
  <!-- End Main Contents -->

  <!-- Right Menu -->
  <div class="w-1/5 pt-16 h-full hidden xl:block px-4 fixed top-0 right-0 bg-blue-200">

  </div>
  <!-- End Right Menu -->
</>
<!-- End Main -->