<!-- Main -->
<div class="flex justify-center h-screen">
  <!-- Left Menu -->
  <div class="w-1/5 pt-16 h-full hidden xl:flex flex-col fixed top-0 left-0 bg-blue-200">

  </div>
  <!-- End Left Menu -->

  <!-- Main Contents -->
  <div class="w-full lg:w-2/3 xl:w-2/5 pt-32 lg:pt-16 px-2 bg-red-200">

  </div>
  <!-- End Main Contents -->

  <!-- Right Menu -->
  <div class="w-1/5 pt-16 h-full hidden xl:block px-4 fixed top-0 right-0 bg-blue-200">

  </div>
  <!-- End Right Menu -->
</>
<!-- End Main -->