<nav class="flex flex-row justify-between items-center bg-gray-800 py-2 px-4 text-white">
  <div class="navbar__logo text-3xl">
    <i class="bi bi-box-seam text-pink-500"></i>
    <a href="#" class="ml-2 font-serif">Nollo</a>
  </div>

  <ul class="navbar__menu flex">
    <li><a href="" class="px-3 py-3 hover:bg-purple-700 rounded-lg">Home</a></li>
    <li><a href="" class="px-3 py-3 hover:bg-purple-700 rounded-lg">Gallery</a></li>
    <li><a href="" class="px-3 py-3 hover:bg-purple-700 rounded-lg">Weddings</a></li>
    <li><a href="" class="px-3 py-3 hover:bg-purple-700 rounded-lg">FAQ</a></li>
    <li><a href="" class="px-3 py-3 hover:bg-purple-700 rounded-lg">Bookings</a></li>
  </ul>

  <ul class="navbar__icons flex mr-2">
    <li><i class="bi bi-facebook px-2"></i></li>
    <li><i class="bi bi-twitter px-2"></i></li>
  </ul>
</nav>